<turbo-stream action="replace" target="account">
  <template>
    <p>Fetching transactions for and asking Buffet for advice.</p>
    <p id="advice"></p>
    <script>
      const evtSource = new EventSource("account/<%= @account_id %>/advice")
      let response = ""
      const targetDiv = document.getElementById("advice");
      evtSource.addEventListener("close", (event) => {
        evtSource.close()
      });
      evtSource.onmessage = (event) => {
        response = response.concat(event.data)
        targetDiv.innerHTML = marked.parse(response);
      };
    </script>
  </template>
</turbo-frame>