<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <script type="module">
    import * as Turbo from 'https://cdn.jsdelivr.net/npm/@hotwired/turbo@8.0.10/+esm';
  </script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <style>
    .turbo-progress-bar {
      height: 10px;
      background-color: green;
    }
  </style>
  <title>Warren</title>
</head>
<body>
  <main>
    <% unless cookies[:requisition_id] %>
      <h1>Pick your bank</h1>
      <form action="/init_requisition" method="post" data-turbo="false">
        <turbo-frame id="institutions" src="/institutions">
          loading financial institutions...
        </turbo-frame>
      </form>
    <% else %>
      <turbo-frame id="accounts" src="/accounts">
        loading account data...
      </turbo-frame>
    <% end %>
    <div>
      <a href="/delete_session" data-turbo="false">delete session</a>
    </div>
  </main>
</body>
</html>